.detail-container{
    margin: 3% 10%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    display: grid;
    grid-template-areas: 
    "foto titulo"
    "foto precio"
    "foto detalle"
    "foto contador";
    background-color: #F2F2F2;
    color: #020659;
}

.detail-photo{
    grid-area: foto;
    align-self: center;
}

.detail-data-title{
    grid-area: titulo;
    padding-top: 10vh;
}

.detail-data-price{
    grid-area: precio;
}

.detail-data-detail{
    grid-area: detalle;
    width: 80%;
    font-family: 'Lora', serif;
}

.counter{
    grid-area: contador;
}

.detail-photo-img{
    width: 400px;
}

.button-after{
    font-size: 1.2rem;
    background-color: #F25D27;
    color: #F2F2F2;
    padding: 10px;
    border: none;
    margin: 15px 20px 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;    

    
}

.button-after:hover{
    background-color: #ee4a0e;
    transition: .5s;

}

.buttons-container{
    display: flex;
}
