.card{
    display: flex;
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;    
    color: #011E4F;
    margin: 3rem 2rem;
    align-items: center;
    cursor: default;
    width: 326px;
    background-color: #F2F2F2;
    height: 55vh;
    justify-content: flex-end;
}

.card-imagen{
    padding-top: 15px;
    width: 70%;
}

.card-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-around;

}

.card-data-titulo{
    text-align: left;
    padding-left: 10px;
    width: 50%;
}

.card-data-precio{
    text-align: right;
    padding-right: 10px;
    font-size: 1.5rem;
}

.card-detalle{
    font-size: 1.3rem;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #F25D27;
    color: white;
    border-radius: 5px;
    line-height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
    padding: 0 1rem;   
}

.card-detalle:hover{
    background-color: #ee4a0e;
    transition: .5s;
}

.svg{
    margin: 0 0.5rem;
}