@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

nav{
    background-color: #eef1f5;
    font-family: 'Chivo', sans-serif;
    padding: 10px;
    display: flex;
    color: #011E4F;
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    font-size: 1.2rem;
}

.menu ul {
    display: flex;
}

.menu ul li{
    margin: 0 20px;
    list-style: none;
    cursor: pointer;
}

.menu ul li:hover{
    color: grey;
    transition: 0.2s;
}

.carrito{
    width: 20px;
    display: flex;
    justify-content: flex-end;
    align-items:stretch;
}
