nav{
    background-color: #2D3073;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    display: flex;
    color: #F2F2F2;
    height: 10vh;
    position: sticky;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3rem;
}

.sticky{
    position: sticky;
    top: 0;
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.menu ul {
    display: flex;
    align-items: center;

}

.menu ul li{
    margin: 0 20px;
    list-style: none;
    cursor: pointer;
    color: #F2F2F2;
}

.carrito{
    width: 20px;
    display: flex;
    justify-content: flex-end;
    align-items:stretch;
}
