.containerContador{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.contador{
    width: 40%;
    font-size: 1.2rem;
    background-color: #2D3073;
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 2px 10px;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;    

}

.contador:hover{
    background-color: #202475;
    transition: .5s;
}

.contador-control{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;    

}

.button{
    width: 100%;
    font-size: 1.2rem;
    background-color: #2D3073;
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;    

}

.button:hover{
    background-color: #202475;
    transition: .5s;
}


.button-container{
    display: flex;
    justify-content: center;
    width: 50%;
}

