@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

.card{
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px rgba(92,90,90,0.68);
    font-family: 'Overpass', sans-serif;
    color: #011E4F;
    margin: 30px;
}

.card-imagen{
    padding-top: 15px;
    width: 100%;
}

.card-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}

.card-data-titulo{
    text-align: left;
    padding-left: 10px;
}

.card-data-precio{
    text-align: right;
    padding-right: 10px;
    font-size: 1.5rem;
}

.card-carrito{
    background-color: #011E4F;
    margin: 15px;
    font-size: 1.5rem;
    padding: 10px 0;
    color: #eef1f5;
    border-radius: 5px;
}